doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.dataTables.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='javascript', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    link(rel='stylesheet', href='http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='javascript', href='http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/jquery.dataTables.min.js")
    script(src="/javascripts/trumbowyg.min.js")
    script(src="/javascripts/index.js")
  body
    block content
